<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
<%- include ./partials/__header.ejs %>

<table>
  <tr>
    <th>Shortened From</th>
    <th>Original Url</th>
  </tr>
  <% for (var url in urls) { %>
    <tr>
      <td><%= url %></td>
      <td><%= urls[url]%></td>
      <td><form method="POST" action='urls/<%=url%>/delete' id="delete<%= url%>"></form>
      <button type='submit' type='text' name='delete' form="delete<%= url %>">Delete</button></td>
    </tr>
  <% } %>
</table>

</body>
</html>
